.btn-1{
    background-color:#d62300;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-right: 10px;
}
.btn-2{
    background-color:#502314;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-right: 40px;
}
.text p{
    color: black;
    font-weight: bold;
}
 /* .para-2{
    margin-left: 20px;
} */

/* .main{
    background: url(imges/main-img.webp) no-repeat; 
    background: cover;
    height: 80vh;
    width: 50px;
} */